
/* #191970 midnight blue */
body {
    background-image: linear-gradient(lightskyblue,lightskyblue, #2199e8);
    height: 100vh;
}

.card {
    border: none;
    background-color: #2199e8;
    color: 
}

h1, h2, h3, .h5  {
    color:#191970;
}

.button {
    margin: 0;
    background-color: #e6e6e6;
    color: #191970;
}